        /* Smooth scroll */
        html {
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
            font-family: "Lexend Deca", sans-serif;
        }

        /* Navbar */
        /* nav {
            position: fixed;
            top: 0;
            width: 100%;
            padding: 15px;
            display: flex;
            justify-content: center;
            gap: 25px;
            z-index: 100;
        } */

        /* nav a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }

        /* Each section full screen */
        section {
            height: 100vh;
            padding-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: white;
        }

        .navbar-custom {

            .navbar-custom {
                padding-top: 20px;
                /* top padding */
                padding-bottom: 20px;
                /* bottom padding */
                padding-left: 30px;
                /* left padding */
                padding-right: 30px;
                /* right padding */
            }

        }

        #hero {
            background-image: url('/img/network_connections_background_with_connecting_lines_and_dots_2704.jpg');
            background-size: cover;
            /* cover entire section */
            background-position: center;
            /* center the image */
            background-repeat: no-repeat;
            height: 100vh;
            /* full viewport height */
            position: relative;
            color: black;
            display: flex;
            flex-direction: column;
            /* stack text vertically */
            justify-content: center;
            /* vertically center */
            align-items: center;
            /* horizontally center */
            text-align: center;
            /* center text */
            padding: 0 30px;
            /* add some horizontal padding for mobile */
        }

        .hero-text {
            margin-top: 100px;
            margin-left: 60px;
        }

        #hero img {
            width: 60%;
            /* full width */
            height: auto;
            /* keep aspect ratio */
            border-radius: 200px;
            /* optional */
            object-fit: cover;
            /* optional: crop to fit */
        }

        #hero button {
            background-color: #072d55;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            transition: 0.3s ease;
        }

        #hero button:hover {
            background-color: #0a3d73;
            transform: scale(1.05);
        }

        .socials {
            margin-top: 20px;
            font-size: 30px;
            margin-left: 60px;
        }

        .socials a {
            color: #072d55;
            margin: 0 10px;

        }

        .side-by-side {
            display: flex;
            /* make children side by side */
            gap: 20px;
            /* space between left and right */
        }

        .left,
        .right {
            flex: 1;
            /* both take equal space */
            padding: 20px;

        }

        #about img {
            width: 60%;
            /* full width */
            height: auto;
            /* keep aspect ratio */
            border-radius: 40px;
            /* optional */
            object-fit: cover;
            /* optional: crop to fit */
        }

        .about-me-body {
            margin-top: 20px;
            font-size: 17px;
            line-height: 1.6;
            color: #333;
        }

        #about button {
            background-color: #072d55;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            transition: 0.3s ease;
            box-shadow: #072d55 0px 5px 15px;
        }

        #about button:hover {
            background-color: #0a3d73;
            transform: scale(1.05);
        }

        #skills {
            padding-top: 30px;
            background: #533cca;

        }

        .skills-container {
            margin: 20px 90px;
            margin-bottom: 100px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            gap: 25px;
        }

        /* Small boxes */
        .skill-card {
            background: radial-gradient(circle at top, #14002e, #060012);
            border-radius: 16px;
            padding: 15px 15px;
            text-align: center;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .skill-card:hover {
            transform: translateY(-8px);
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
        }

        .skill-card img {
            width: 60px;
            height: 60px;
            object-fit: contain;
            margin-bottom: 12px;
        }


        .edu-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .edu-img {
            width: 80px;
            height: 80px;
            object-fit: contain;
        }

        .edu-card {
            display: flex;
            color: #14002e;
            width: 60%;
            padding: 20px;
            padding-bottom: 5px;
            border-radius: 12px;
            background: rgba(149, 193, 227, 0.646);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

        }

        .edu-details {
            margin-left: 20px;
            display: flex;
            flex-direction: column;

        }


        /* Projects Section */
        #projects {
            padding: 30px;
            background: #041c35;

        }

        .projects-grid {
            margin: 20px 90px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        .project-card {
            /* height: 88%; */
            background: #ffffff;
            border-radius: 16px;
            overflow: hidden;
            position: relative;
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
        }

        .card-image {
            position: relative;
            height: 250px;
        }

        .card-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-overlay {
            position: absolute;
            inset: 0px 0px 40px 0px;
            background: rgba(255, 212, 0, 0.95);
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 25px;
            padding-top: 0px;
            transform: translateY(100%);
            transition: 0.4s ease;
        }

        .project-card:hover .card-overlay {
            transform: translateY(40px);
        }

        .card-overlay h3 {
            width: 100%;
            font-size: 20px;
            margin-bottom: 20px;
            color: #000;
        }

        .card-overlay p {
            font-size: 14px;
            margin-bottom: 20px;
            color: #111;
        }

        .card-overlay .btn {
            background: #000;
            color: #fff;
            padding: 10px 16px;
            width: fit-content;
            border-radius: 6px;
            text-decoration: none;
            font-weight: 600;
        }

        .project-card {
            transition: transform 0.3s ease;
        }

        .project-card:hover {
            transform: translateY(-9px);
        }

        .card-overlay .btn:hover {
            background-color: #0a3d73;
        }

        

        .ex-conteiner {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .ex-card {
            display: flex;
            flex-direction: column;
            color: #14002e;
            width: 60%;
            padding: 20px;
            padding-bottom: 5px;
            border-radius: 12px;
            background: rgba(255, 212, 0, 0.95);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

        }

        .ex-details {
            display: flex;
            flex-direction: column;

        }


        #contact {
            padding: 30px;
            background: #bbc9f66c;
            color: #011121;
        }

        .contact-container {
            margin: 20px 90px;
            padding: 30px 30px;
            display: flex;
            background-color: #ffffff;
            width: 90%;
            border-radius: 15px;
        }

        .contact-form {
            padding-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: left;
            font-size: 15px;
            gap: 20px;

        }

        .input-box {
            box-sizing: border-box;
            border-radius: 15px;
            padding: 10px;
            border: 1px solid #294daf;
            background-color: #bbc9f66c;
        }

        .contact-container button {
            color: white;
            background-color: #072d55;
            text-decoration: none;
            font-size: 18px;
            border: 2px solid white;
            padding: 10px 20px;
            border-radius: 15px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .contact-container button:hover {
            background-color: white;
            border: 2px solid rgb(0, 4, 49);
            color: #072d55;
        }

        .contact-container img {
            width: 70%;
            /* full width */
            height: auto;
            /* keep aspect ratio */
            border-radius: 20px;
            /* optional */
            object-fit: cover;
            /* optional: crop to fit */
        }